<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="container text-center">

			<div class="card">

				<div class="card-body my-5">

					<div class="container">


						<img src="" style="height: 200px; width: 200px;"
							class="my_profile_picture" th:src="@{'/img/contact.png'}"
							alt="profile photo" />

					</div>
					
					<h2 class="text-center mt-2 text-secondary">Start adding your contact on cloud</h2>
					
					<a class="btn btn-success mt-3 btn-block text-uppercase" th:href="@{/user/add-contact}">Add new contact</a>



				</div>
			</div>

		</div>
	</section>
</body>
</html>
